streamlit

langchain==0.2.14
langchain-core==0.2.36
langchain-community==0.2.12
langchain-google-genai==1.0.10

google-genai

faiss-cpu==1.13.1

sentence-transformers
transformers
torch

python-dotenv
PyPDF2
python-docx
python-pptx