streamlit

langchain==0.2.14
langchain-core==0.2.36
langchain-community==0.2.12
langchain-groq

faiss-cpu==1.8.0

sentence-transformers
transformers
torch

python-dotenv
PyPDF2
python-docx
python-pptx